<a href="https://colab.research.google.com/github/rushvi2/ds2002/blob/main/Mongo_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [38]:
import os
import datetime
import pymongo
import pprint
import pandas as pd

Exercise 1: Connecting to MongoDB

Import MongoClient from pymongo.
Connect to your local MongoDB instance (or a specified URI if using a remote database...like in the examples here -->https://github.com/jasonwnc/ds2002s24/tree/main/3.%20NoSQL Links to an external site.
Print a list of databases in your MongoDB instance.)

In [39]:
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [40]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

In [41]:
client.list_database_names()

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

Exercise 2: Creating and Using a Database

Create a database called <yourname>_class
Print a list of collections in the database.

In [55]:
db_name = "rushvi_class"

db = client[db_name]
db.list_collection_names()

[]

Exercise 3: Creating a Collection and Inserting Documents

Create a collection named students.
Insert a single document into the students collection. Let it have 5 key value pairs
Insert multiple documents into the students collection in one operation.

In [56]:
Student = {"First name:": "Joe",
        "Last name:": "Smith",
            "Date of Birth": "01/01/2001",
            "Email:": "joe.smith@gmail.com",
            "Major:": "Physics"}

Students = db.Students
Students_id = Students.insert_one(Student).inserted_id

print("Document ID: ", Students_id)

Document ID:  6600ee028644cd1da30c1442

In [57]:
Student2 = [{"First name:": "Bill",
        "Last name:": "Brown",
            "Date of Birth": "05/02/2002",
            "Email:": "bill.brown@gmail.com",
            "Major:": "English"},{"First name:": "Amy",
        "Last name:": "Johnson",
            "Date of Birth": "02/22/2001",
            "Email:": "amy.johnson@gmail.com",
            "Major:": "Physics"}, {"First name:": "Steve",
        "Last name:": "Jobs",
            "Date of Birth": "05/04/2002",
            "Email:": "steve.jobs@gmail.com",
            "Major:": "Physics"}]

Students_id = Students.insert_many(Student2)

Exercise 4: Querying Documents

Perform a query to find all documents in the students collection.
Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl

In [58]:
for Student in Students.find():
    pprint.pprint(Student)

{'Date of Birth': '01/01/2001',
 'Email:': 'joe.smith@gmail.com',
 'First name:': 'Joe',
 'Last name:': 'Smith',
 'Major:': 'Physics',
 '_id': ObjectId('6600ee028644cd1da30c1442')}
{'Date of Birth': '05/02/2002',
 'Email:': 'bill.brown@gmail.com',
 'First name:': 'Bill',
 'Last name:': 'Brown',
 'Major:': 'English',
 '_id': ObjectId('6600ee028644cd1da30c1443')}
{'Date of Birth': '02/22/2001',
 'Email:': 'amy.johnson@gmail.com',
 'First name:': 'Amy',
 'Last name:': 'Johnson',
 'Major:': 'Physics',
 '_id': ObjectId('6600ee028644cd1da30c1444')}
{'Date of Birth': '05/04/2002',
 'Email:': 'steve.jobs@gmail.com',
 'First name:': 'Steve',
 'Last name:': 'Jobs',
 'Major:': 'Physics',
 '_id': ObjectId('6600ee028644cd1da30c1445')}

In [59]:
for Student in Students.find({'Date of Birth': '01/01/2001'}  ):
    pprint.pprint(Student)

{'Date of Birth': '01/01/2001',
 'Email:': 'joe.smith@gmail.com',
 'First name:': 'Joe',
 'Last name:': 'Smith',
 'Major:': 'Physics',
 '_id': ObjectId('6600ee028644cd1da30c1442')}

Exercise 5: Updating Documents

Update a specific document in the students collection.
Update multiple documents based on a specific condition.

In [60]:
Students.update_one({'First name:': 'Joe'}, {'$set':{'Major:': 'Computer Science'}})
for Student in Students.find():
    pprint.pprint(Student)

{'Date of Birth': '01/01/2001',
 'Email:': 'joe.smith@gmail.com',
 'First name:': 'Joe',
 'Last name:': 'Smith',
 'Major:': 'Computer Science',
 '_id': ObjectId('6600ee028644cd1da30c1442')}
{'Date of Birth': '05/02/2002',
 'Email:': 'bill.brown@gmail.com',
 'First name:': 'Bill',
 'Last name:': 'Brown',
 'Major:': 'English',
 '_id': ObjectId('6600ee028644cd1da30c1443')}
{'Date of Birth': '02/22/2001',
 'Email:': 'amy.johnson@gmail.com',
 'First name:': 'Amy',
 'Last name:': 'Johnson',
 'Major:': 'Physics',
 '_id': ObjectId('6600ee028644cd1da30c1444')}
{'Date of Birth': '05/04/2002',
 'Email:': 'steve.jobs@gmail.com',
 'First name:': 'Steve',
 'Last name:': 'Jobs',
 'Major:': 'Physics',
 '_id': ObjectId('6600ee028644cd1da30c1445')}

In [61]:

Students.update_many({'Major:': 'Physics'}, {'$set': {'Major:': 'Astronomy'}})
for Student in Students.find():
    pprint.pprint(Student)

{'Date of Birth': '01/01/2001',
 'Email:': 'joe.smith@gmail.com',
 'First name:': 'Joe',
 'Last name:': 'Smith',
 'Major:': 'Computer Science',
 '_id': ObjectId('6600ee028644cd1da30c1442')}
{'Date of Birth': '05/02/2002',
 'Email:': 'bill.brown@gmail.com',
 'First name:': 'Bill',
 'Last name:': 'Brown',
 'Major:': 'English',
 '_id': ObjectId('6600ee028644cd1da30c1443')}
{'Date of Birth': '02/22/2001',
 'Email:': 'amy.johnson@gmail.com',
 'First name:': 'Amy',
 'Last name:': 'Johnson',
 'Major:': 'Astronomy',
 '_id': ObjectId('6600ee028644cd1da30c1444')}
{'Date of Birth': '05/04/2002',
 'Email:': 'steve.jobs@gmail.com',
 'First name:': 'Steve',
 'Last name:': 'Jobs',
 'Major:': 'Astronomy',
 '_id': ObjectId('6600ee028644cd1da30c1445')}

Exercise 6: Deleting Documents

Delete a specific document from the students collection.
Delete multiple documents based on a specific condition.

In [62]:
Students.delete_one({'First name:': 'Joe', 'Last name:': 'Smith'})
for Student in Students.find():
    pprint.pprint(Student)

{'Date of Birth': '05/02/2002',
 'Email:': 'bill.brown@gmail.com',
 'First name:': 'Bill',
 'Last name:': 'Brown',
 'Major:': 'English',
 '_id': ObjectId('6600ee028644cd1da30c1443')}
{'Date of Birth': '02/22/2001',
 'Email:': 'amy.johnson@gmail.com',
 'First name:': 'Amy',
 'Last name:': 'Johnson',
 'Major:': 'Astronomy',
 '_id': ObjectId('6600ee028644cd1da30c1444')}
{'Date of Birth': '05/04/2002',
 'Email:': 'steve.jobs@gmail.com',
 'First name:': 'Steve',
 'Last name:': 'Jobs',
 'Major:': 'Astronomy',
 '_id': ObjectId('6600ee028644cd1da30c1445')}

In [64]:
Students.delete_many({'Major:': 'Astronomy'})
for Student in Students.find():
    pprint.pprint(Student)

{'Date of Birth': '05/02/2002',
 'Email:': 'bill.brown@gmail.com',
 'First name:': 'Bill',
 'Last name:': 'Brown',
 'Major:': 'English',
 '_id': ObjectId('6600ee028644cd1da30c1443')}